[Desktop Entry]
Type=Application
Name=Hydra CAD
Comment=Professional CAD Application
Exec=/usr/bin/cad_desktop %F
TryExec=/usr/bin/cad_desktop
Icon=HydraCAD
Categories=Graphics;Engineering;
Terminal=false
